.address {
  background-color: $white;

  &--grey {
    background-color: $grey-light;
  }
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.address__text {
  max-width: 154px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__location {
  max-width: 154px;

  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $grey;
}

.address__map {
  min-height: 362px;

  @include bg-image("bg-map-mobile@1x.png", center, -38px);
}

@media (min-width: $tablet-width) {
  .address__map {
    @include bg-image("bg-map-tablet@1x.png");
  }
}
