.banner {
  padding-top: 39px;
  padding-bottom: 35px;
}

.banner__wrapper {
  min-height: 289px;
  padding: 65px 60px 20px 60px;

  text-align: center;

  background-color: $leaf;

  @include bg-image("gift-photo-mobile@1x.jpg");
}

.banner__image {
  margin-bottom: 64px;

  fill: $white;
}

.banner__text {
  margin: 0;

  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}
