.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  width: 100%;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  &--green {
    background-color: $leaf;

    &:hover {
      background-color: $grass;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--grey {
    color: $grey;

    background-color: $grey-light;
  }

  &--big {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .button--huge {
    width: 245px;
    min-height: 52px;
    font-size: 20px;
    line-height: 25px;
  }
}
