.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white-three;
  text-transform: uppercase;

  @include button-reset;

  &--green {
    background-color: $leaf;
  }

  &--grey {
    color: $black-one;

    background-color: $white-four;
  }
}
