.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  width: 100%;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  &--green {
    background-color: $leaf;
  }

  &--grey {
    color: $grey;

    background-color: $grey-light;
  }
}
