/* invalid form */
.error {
  border: 1px solid #ff8282;
  box-shadow: inset 0 0 0 1px #ff8282;

  &:hover {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }

  &:focus {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;

    & + .main-form__icon {
      fill: #ff8282;
    }
  }

  & + .main-form__icon {
    fill: #ff8282;
  }
}
