.extra__heading {
  display: flex;
  padding: 24px 0 32px 20px;
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.extra-goods__item {
  padding: 12px 0 17px 0;
  border-bottom: $grey-border;
}

.extra-goods__item:first-child {
  border-top: $grey-border;
}

.extra-goods__product-name {
  max-width: 200px;
  margin-top: 0;
  margin-bottom: 7px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-light;
}

.extra-goods__product-properties {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.extra-goods__property {
  &:first-child {
    max-width: 180px;
  }

  &:last-child {
    max-width: 50px;
  }
}

@media (min-width: $tablet-width) {
  .extra__heading {
    padding: 9px 0 80px 0;

    font-size: 36px;
    line-height: 36px;
  }

  .extra-goods__item {
    padding: 25px 36px 27px 37px;
    border: 1px solid $grey-dirty;
    border-bottom: 0;
  }

  .extra-goods__item:first-child {
    border-top: 1px solid $grey-dirty;
  }

  .extra-goods__item:last-child {
    border-bottom: 1px solid $grey-dirty;
  }

  .extra-goods__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
  }

  .extra-goods__product-name {
    max-width: 300px;

    margin: 0;
    font-size: 20px;
  }

  .extra-goods__product-properties {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding-top: 7px;
    margin: 0;

    font-size: 16px;
    line-height: 20px;
  }

  .extra-goods__property:last-child {
    margin-left: 39px;
    min-width: 55px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    max-width: 1440px;
    padding: 0;
    padding-bottom: 85px;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .extra__heading {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 0 81px 40px;
  }

  .extra-goods {
    margin-right: 80px;
  }

  .extra-goods__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;
    padding: 10px 0 10px 0;
    border: 0;
    border-bottom: 1px solid $grey-dirty;
  }

  .extra-goods__description {
    min-width: 613px;
    margin-bottom: 0;
  }


  .extra-goods__product-name {
    padding-top: 3px;
    padding-left: 2px;
  }

  .extra-goods__product-properties {
    width: 287px;
  }

  .extra-goods__property:last-child {
    min-width: 44px;
    text-align: left;
  }

  .extra-goods__button {
    min-height: 40px;
    width: 245px;
  }
}
