.extra__heading-wrapper {
  padding: 30px 0 31px 20px;
}

.extra__heading {
  width: 230px;
  margin: 0;
  margin-right: 18px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.extra-goods__item {
  padding: 14px 0 17px 0;
  border-bottom: $grey-border;
}

.extra-goods__item:first-child {
  border-top: $grey-border;
}

.extra-goods__product-name {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-light;
}

.extra-goods__product-properties {
  margin: 0;
}

.extra-goods__property {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}
