body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;

  background-color: $white-three;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
