
.heading-stripe::after {
  content: "";
  display: block;
  flex-grow: 1;
  min-width: 50px;
  height: 3px;
  margin-top: 14px;
  margin-left: 23px;

  background-color: $leaf;
}

@media (min-width: $tablet-width) {
  .heading-stripe {
    &::after {
      margin-top: 22px;
      margin-left: 36px;
    }

    &::before {
      content: "";
      display: block;
      flex-grow: 1;
      max-width: 28px;
      height: 3px;
      margin-top: 22px;
      margin-right: 39px;

      background-color: $leaf;
    }
  }
}

@media (min-width: $desktop-width) {
  .heading-stripe {
    background-image: linear-gradient($white 100%, $white 100%);

    &::before {
      content: none;
    }
  }
}
