.heading-stripe-cross {
  background-image: linear-gradient(transparent 40px, $leaf 40px, $leaf 43px, transparent 43px);

  &--form {
    background-image: linear-gradient(transparent 42px, #68b738 42px, #68b738 45px, transparent 45px);
  }
}

@media (min-width: $tablet-width) {
  .heading-stripe-cross {
    background-image: linear-gradient(transparent 32px, #68b738 32px, #68b738 35px, transparent 35px);

    &--form {
      background-image: linear-gradient(transparent 51px, #68b738 51px, #68b738 54px, transparent 54px);
    }
  }
}

@media (min-width: $desktop-width) {
  .heading-stripe-cross {
    background-image: linear-gradient(transparent 37px, $leaf 37px, $leaf 40px, transparent 40px);

    &--form {
      background-image: linear-gradient(transparent 52px, #68b738 52px, #68b738 55px, transparent 55px);
    }
  }
}
