.info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.info__wrapper {
  padding-top: 12px;
  padding-bottom: 42px;
}

.info__heading {
  margin-top: 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}
