.info {
  padding-top: 7px;
  padding-bottom: 10px;
}

.info__wrapper {
  padding-bottom: 29px;
}

.info__heading {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .info {
    padding-bottom: 27px;
    border-bottom: $grey-border;
  }

  .info__heading {
    font-size: 60px;
    margin-bottom: 72px;
  }

  .info__wrapper {
    padding-top: 29px;
  }
}
