.info {
  padding-top: 7px;
  padding-bottom: 10px;
}

.info__wrapper {
  padding-bottom: 29px;
}

.info__heading {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}
