.main-header {
  padding: 27px 18px 12px 18px;

  color: $white;
  text-align: center;

  background-image:  url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(90deg, #65a93c, #63a73a),
    linear-gradient(#65a93c 305px, $white 305px);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto, 100% 305px, auto;
}

.main-header__heading {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 22px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-header__description {
  margin: 0;
  margin-bottom: 27px;

  line-height: 18px;
  text-transform: uppercase;
}

.main-header__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

@media (min-width: $tablet-width) {
  .main-header {
    min-height: 866px;
    padding: 0;

    background-image: none;
    color: $black;
  }

  .main-header__wrapper {
    position: relative;
    width: calc(100% - 60px);
    padding: 0 200px 0 90px;
    margin: 0 auto;

    text-align: left;
  }

  .main-header__heading {
    max-width: 420px;
    margin: 0;
    margin-bottom: 33px;

    font-size: 60px;
    line-height: 60px;
  }

  .main-header__description {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }

  .main-header__image {
    position: absolute;
    z-index: -1;
    left: 240px;
    top: 180px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    position: absolute;
    left: 0;
    top: -554px;
    width: 50%;
    padding: 84px 116px 20px 190px;
    margin: 0;
  }

  .main-header {
    position: relative;
    min-height: 70px;
  }

  .main-header__description {
    margin-bottom: 53px;
  }

  .main-header__image {
    z-index: 1;
    left: 100%;
    top: -30px;
  }
}
