.main-header-sub {
  padding: 5px 0 12px 0;

  &--border {
    border-bottom: $grey-border;
  }
}

.main-header-sub__heading {
  margin: 0;
  padding: 10px 0 17px 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.main-header-sub__description {
  max-width: 265px;
  margin: 0;
  padding: 8px 0 27px 0;

  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-header-sub {
    &--border {
      border-bottom: none;
    }
  }

  .main-header-sub__heading {
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 10px;

    &--small {
      padding-bottom: 44px;
    }
  }

  .main-header-sub__description {
    max-width: 385px;
    padding-left: 40px;
    padding-top: 11px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-header-sub__heading {
    padding-top: 33px;
  }

  .main-header-sub__description {
    padding-left: 1px;
  }
}
