.main-nav {
  border-top: $grey-border;

  overflow: hidden;
}

.main-nav__transition {
  transition: 0.5s ease;
}

.main-nav__minimize {
  height: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    height: auto;
    min-height: 125px;
    width: 486px;
    padding-top: 20px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 50%;
    min-height: 150px;
    padding-top: 73px;
    padding-left: 98px;
  }
}
