.main-header-sub {
  padding: 20px 2px 20px 2px;

  &--border {
    border-bottom: $grey-border;
  }
}

.main-header-sub__heading {
  margin: 0;
  padding: 11px 0 15px 0;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black;
}

.main-header-sub__description {
  margin: 0;
  padding: 20px 0;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}
