.main-header {
  padding: 29px 18px 12px 18px;

  color: $white;
  text-align: center;

  background-image:  url("../img/index-background-mobile@1x.jpg"),
    linear-gradient($leaf 305px, $white 305px);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-header__heading {
  margin: 0;
  margin-bottom: 19px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-header__description {
  margin: 0;
  margin-bottom: 29px;

  line-height: 18px;
  text-transform: uppercase;
}
