.more-goods {
  padding-top: 27px;
  padding-bottom: 25px;
}

.more-goods__main-text {
  display: block;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $black;
}

.more-goods__description {
  display: block;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $grey;
}
