
.more-goods {
  border-bottom: $grey-border;
}

.more-goods__wrapper {
  padding-top: 27px;
  padding-bottom: 25px;
}

.more-goods__main-text {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.more-goods__description {
  display: block;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $grey;
}
