.more-goods {
  border-bottom: $grey-border;
}

.more-goods__wrapper {
  position: relative;
  padding-top: 78px;

  &::before {
    content: url("../img/icon-plus-mobile.svg");
    position: absolute;
    left: 50%;
    top: 27px;
    width: 31px;
    height: 31px;
    margin-left: -15.5px;
    opacity: 0.2;
  }
}

.more-goods__main-text {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.more-goods__description {
  display: block;
  margin-bottom: 22px;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $grey;
}

@media (min-width: $tablet-width) {
  .more-goods {
    border: 1px solid $grey-dirty;
  }

  .more-goods__wrapper {
    padding-top: 164px;
    background-color: $white;

    &::before {
      content: url("../img/icon-plus.svg");
      top: 54px;
      width: 61px;
      height: 61px;
      margin-left: -30.5px;
    }
  }

  .more-goods__main-text {
    max-width: 135px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 20px;
  }

  .more-goods__description {
    max-width: 225px;
    margin: 0 auto;
    margin-bottom: 82px;

    font-size: 16px;
    line-height: 20px;
  }

  .more-goods__button {
    max-width: 249px;
    margin: 0 auto;
  }
}
