.page-footer {
  background-color: $grey-light;
}

.page-footer__logo-wrapper {
  display: flex;
  justify-content: center;
  min-height: 94px;
  padding: 38px 0 28px 0;
  border-bottom: $grey-border-dark;
}

.page-footer__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 62px;
  padding: 12px 9px 9px 0;

  border-bottom: $grey-border-dark;
}

.page-footer__copyright {
  position: relative;
  min-height: 84px;
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 115px;
    right: 27px;
    display: block;
    height: 74px;

    background-color: transparent;
  }
}

.page-footer__copyright-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;

  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $grey;

  fill: $grey-brownish;

  &:hover {
    fill: $leaf;
  }

  &:active {
    fill: $leaf;
    opacity: 0.3;
  }

  span {
    padding-top: 6px;
    pointer-events: none;
  }

  svg {
    pointer-events: none;
    // for IE 11
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    height: 100px;
  }

  .page-footer__logo-wrapper {
    border-bottom: none;
    padding-top: 36px;
  }

  .page-footer__copyright {
    width: 165px;
    min-height: auto;
    padding: 0;
  }

  .page-footer__copyright-link {
    padding: 10px 0;

    font-family: $arial;
    font-size: 16px;
    line-height: 20px;
    color: $grey;
  }

  .page-footer__social {
    border-bottom: none;
    padding-left: 30px;
  }
}
