.page-footer {
  background-color: $grey-light;
}

.page-footer__logo-wrapper {
  display: flex;
  justify-content: center;
  min-height: 94px;
  padding: 39px 0 28px 0;
  border-bottom: $grey-border-dark;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 62px;
  padding: 12px 9px 9px 0;

  border-bottom: $grey-border-dark;
}

.page-footer__copyright-link {
  margin-top: -9px;

  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $grey;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    fill: $leaf;
    opacity: 0.6;
  }
}

.page-footer__logo-link {
  fill: $grey-brownish;

  &:hover {
    fill: $leaf;
  }

  &:active {
    fill: $leaf;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    height: 100px;
  }

  .page-footer__logo-wrapper {
    border-bottom: none;
    padding-top: 37px;
  }

  .page-footer__logo-link svg {
    margin-left: 23px;
  }

  .page-footer__social {
    border-bottom: none;
    padding-left: 28px;
  }
}
