.page-header__logo-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.page-header__logo-image {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__open-button {
  display: none;
  position: relative;
  width: 24px;
  height: 19px;

  background-color: transparent;

  &--show {
    display: block;
  }
}

.page-header__logo-panel--closed {
  .page-header__open-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;

    background-color: $black-light;
    box-shadow: 0 8px $black-light, 0 16px $black-light;
  }
}

.page-header__logo-panel--opened {
  .page-header__open-button::before,
  .page-header__open-button::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;

    background-color: $black-light;
  }

  .page-header__open-button::before {
    top: 8px;

    transform: rotate(45deg);
  }

  .page-header__open-button::after {
    bottom: 8px;
    left: 0;

    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 125px;
    padding-left: 30px;
    margin: 0 auto;
  }

  .page-header__open-button {
    display: none;
  }

  .page-header__logo-panel {
    margin: 0;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1300px;
    height: 100%;
    padding: 0 40px;
  }

  .page-header--index {
    background-image: linear-gradient(90deg, #ffffff 50%, #65a93c 50%);
  }

  .page-header {
    width: 100%;
    max-width: 1440px;
    padding: 0;
  }
}
