.page-footer {
  background-color: $grey-light;
}

.page-footer__logo-wrapper {
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: $grey-border;
}

.page-footer__copyright-link {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $grey;
}

.page-footer__copyright {
  padding: 22px 0;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
