.products__item {
  min-height: 209px;
  padding-bottom: 25px;
  border-bottom: $grey-border;
}

.products__content-block {
  display: flex;
  align-items: center;
}

img.products__image {
  display: block;
}

.products__heading {
  max-width: 75px;
  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;
  font-weight: 400;
}

.products__heading-link,
.products__heading-link:link,
.products__heading-link:visited {
  color: $black;
  text-transform: uppercase;
}

.products__info-list {
  min-width: 141px;
  margin: 0;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.products__key,
.products__value {
  margin: 0;

  &--upper {
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .products__item {
    width: 324px;
    min-height: 431px;
    padding-bottom: 0;
    margin: 82px 30px 58px 30px;
    border-bottom: none;

    &:not(:last-child) {
      background-color: $grey-light;
    }
  }

  .products__content-block {
    display: flex;
    margin-bottom: 26px;

    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .products__image {
    width: 324px;
    margin-bottom: 37px;

    &--big {
      height: 208px;
      margin-top: -82px;
    }

    &--small {
      height: 172px;
      margin-top: -46px;
    }
  }

  .products__description-block {
    width: 248px;
  }

  .products__heading {
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .products__heading-link {
    margin-bottom: 13px;
  }

  .products__wrapper {
    padding-bottom: 4px;
    margin-bottom: 7px;
    border-bottom: 1px solid $grey-dirty;

    font-size: 16px;
    line-height: 20px;
  }

  .products__order {
    width: 249px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .products__item-wrapper {
    width: 100%;
  }

  .products__item {
    width: 245px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
