.program {
  padding-top: 10px;
  padding-bottom: 10px;
}

.program__wrapper {
  background-color: $grey-light;
  padding: 22px 21px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.program__heading {
  display: flex;
  align-items: center;
  margin-top: 0;

  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;

  &::before {
    content: "";

    display: block;

    background-repeat: no-repeat;
  }

  &--loss::before {
    background-image: url("../img/icon-cat-slim.svg");
    width: 50px;
    height: 53px;
    margin-right: 20px;
  }

  &--gain::before {
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 50px;
    margin-right: 12px;
  }
}

.program__description {
  font-family: $arial;
  line-height: 18px;
  color: $grey;
}

.program__link {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.program__img {
  margin-left: 13px;
  fill: #3f4242;
}

.program__img--hover {
  display: none;
}

.program__link:hover {
  .program__img {
    display: none;
  }

  .program__img--hover {
    display: inline;
  }
}

.program__link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .program {
    display: flex;
  }

  .program__wrapper {
    min-height: 372px;
  }
}
