.fieldset-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.container-wide {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container-wide {
    width: 100%;
  }

  .container {
    width: calc(100% - 60px);
  }
}

@media (min-width: $desktop-width) {
  .container-wide {
    width: 100%;
    max-width: 1440px;
    /* to prevent horizontal scroll */
  }

  .container {
    width: 1220px;
    margin: 0 auto;
  }
}
