.fieldset-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  width: 280px;
  margin: 0 auto;
}

.container-wide {
  width: 320px;
  margin: 0 auto;
}
