.site-list__item {
  min-height: 66px;
  padding: 20px;
  border-bottom: $grey-border;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.site-list__link,
.site-list__link:link,
.site-list__link:visited {
  color: inherit;
}

.site-list__link:hover:not(.site-list__link--active) {
  color: $menu-hover;
}

.site-list__link:active:not(.site-list__link--active) {
  color: $menu-active;
}
