.social__item {
  margin: 5px 19px;
}

.social__link {
  fill: $grey-brownish;

  &:hover {
    fill: $leaf;
  }

  svg:active {
    fill: $leaf;
    opacity: 0.3;
    // for IE 11
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin: 5px 14px;
  }

  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--inst svg {
    width: 23px;
    height: 23px;
  }

  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }
}
