$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$white-three: #ffffff;
$white-four: #f2f2f2;
$leaf: #68b738;
$black-one: #444444;
$black-two: #222222;
$black-three: #111111;
$grey-border: #e6e6e6;


@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin heading-reset {
  margin: 0;
  line-height: 1em;
}
